option_settings:
  - option_name: POSTGRES_USER
    value: udacityc2
  - option_name: POSTGRES_PASSWORD
    value: udacityc2
  - option_name: POSTGRES_DB
    value: udacityc2
  - option_name: POSTGRES_HOST
    value: udacityc2.cjeazbbbstjv.us-east-1.rds.amazonaws.com
  - option_name: AWS_REGION
    value: us-east-1
  - option_name: AWS_PROFILE
    value: DEPLOYED
  - option_name: AWS_MEDIA_BUCKET
    value: jazra-c2-rest-dev
  - option_name: JWT_SECRET
    value: hellomysecret